.div-para {
  padding-left: 40px;
  width: 40%;
  font-weight: normal;
  color: #666666;
}
.about-image {
  width: 40%;
  border-radius: 25px;
  float: right;
}

@media (max-width: 576px) {
  .div-para {
    padding: 10px;
    width: 100%;
  }
  .about-image {
    width: 90%;
  }
  .about-hero-para {
    margin-left: 2vw;
  }
}
