.product-link > a {
  text-decoration: none;
}

.product-link > a:hover {
  color: #424242;
}
.img-box > img {
  width: 67%;
  padding: 3vw;
  opacity: 1;
}

.img-box > img:hover {
  opacity: 0.7;
  cursor: pointer;
}
