:root {
  font-family: "Sen", sans-serif !important;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-item {
  font-size: 18px;
}
.nav-link {
  margin-right: 20px !important;
}

@media (max-width: 576px) {
  .hambburger {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
  .hamburger {
    display: none;
  }
}
